* {
	box-sizing: border-box;
font-size: 18px;
}
body {
	margin: 0;
	padding: 0;
	background-color: skyblue;
}
#container {
	width: 400px;
	height: 500px;
	background-color: white;
	margin: auto;
	margin-top: 50px;
	padding: 10px;
}
#heading {
	width: 350px;
	height: 40px;
	background-color: lightgray;
	margin: auto;
	margin-top: 
	
}
