* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
body {
	background: url('https://tse1.mm.bing.net/th?id=OIP.LvWChtAfiy_s60eRSyxE7gHaEK&pid=Api&P=0&w=273&h=154');
	background-size: cover;


}